{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "plugin:import/typescript",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react",
    "import",
    "@typescript-eslint",
    "react-hooks",
    "promise"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", "tsx"]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-unused-vars": 2,
    "prefer-promise-reject-errors": 0,
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["t"] }
    ],
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "globals": {
    "window": true,
    "localStorage": true
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  }
}
