@import '../../assets/styles/index.scss';

.footer {
  background-color: #41266d;
  height: $footerHeight;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textLeft {
  color: white;
  padding: 0 1em;
  font-size: 9px;
}

.logoRight {
  height: 1.5em;
  padding: 0 1em;
}
