@import '../../assets//styles/index.scss';

.link {
  display: inline-block;
  background-color: $purpleMain;
  color: white;
  padding: 0.8em;
  margin: 1em;
  border-radius: 5px;
  text-decoration: none;
}
